@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Satoshi', Helvetica, Arial, sans-serif;
}

input, textarea {
  outline: none;
  border: none;
}

.special-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-strokeWidth: 1.5px;
}

.linear-text {
  background: linear-gradient(91.02deg, #4280CF 7.23%, #3975C0 14.99%, #0C315F 50.29%, #0A2444 63.22%, #03234B 85.09%, #4280CF 102.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}
